::-webkit-scrollbar{
    width: .5em;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 100vw;
    margin-block: .2em;
}
::-webkit-scrollbar-thumb{
    background: #68737e;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: #798796;
    border-radius: 100vw;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#454545;
    color: whitesmoke;
    scroll-behavior: smooth;
    min-width: 380px;
    scroll-padding-top: 67px;
}
body{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
main{
    padding: 0 2em 0 2em;
}
.summary{
    text-align: center;
}

header{
    min-width: 250px;
    background-color: #232323;
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-row: auto;
}

.circle{
    background-color: #333333;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

img{
    object-fit: contain;
    width: 100%;
}

.nav{
    min-width: 250px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: -1px;
    background-color: #232323;
}
.navbar{
    list-style-type: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.navigation{
    display: inline-block;
    list-style: none;
}
li>a{
    text-decoration: none;
    color: #8899aa;
    display: block;
    padding: 8px;
}
li>a:visited{
    text-decoration: none;
    color: #8899aa;
    display: block;
    padding: 8px;
}
li>a:hover{
    color: #8899aa;
    display: block;
    padding: 8px;
    background-color: #333333;
}

a{
    color: #8ccbd2;
    font-weight: bold;
}
a:visited{
    color: #8cc1d2;
    font-weight: bold
}
a:hover{
    cursor: pointer;
}

#name{
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
}
.info{
    font-size: large;
    font-weight: bold;
}
#contactinfo{
    text-align: center;
}
.mail{
    font-weight: bold;
}
.phonenum{
    font-weight: bold;
}

span{
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

footer{
    width: 100%;
    background-image: linear-gradient(#454545, #232323);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    padding: 0 1em 0 1em;
}

@media(max-width: 731px){
    html{
        scroll-padding-top: 102px;
    }
    main{
        padding: 0;
    }
}
@media (max-width: 545px){
    .info, .mail, .phonenum{
        font-size: 11pt;
        font-weight: normal;
    }
    footer{
        flex-direction: column;
    }
    .info{
        padding-top: 5em;
    }
    .contact{
        padding: 0;
    }
    .contact>p{
        margin:0;
    }
    
}
@media (max-width: 384px){
    html{
        scroll-padding-top: 138px;
    }
}